@import url(//fonts.googleapis.com/css?family=Oswald:400);
body {
  background: #222428;
  font-family: "Oswald", sans-serif;
  text-align: center;
  background-image: linear-gradient(
    to right,
    rgba(61, 99, 246, 0.5),
    rgba(0, 196, 204),
    rgba(107, 213, 227)
  );
}


.navbar-brand {

  font-size: 50px;
  height: 80px;
  margin-bottom: 10px;
  color: white;
  text-align: right !important;
}

.wrapper {
  text-align: center;
  margin-left: 10px;
}

footer {
  margin-top: 229px;
  background-color: #343a40;
  width: auto;
  height: 120px;
  position: inline-block;
}

#nasa {
  font-size: 20px;
  margin-left: 2px;
  margin-right: 2px;
}
#MetalsCards {
  margin-bottom: 25px;
  margin-left: 2px;
  margin-right: 2px;
}

#gold {
  margin-right: 10px;
}

#DisasterContainer {
  margin-top: 20px;
}

* {
  box-sizing: border-box;
}

#page-wrap {
  padding-bottom: 10px;
  padding-top: 10px;
}


/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 10px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: silver;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: silver;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  top: 110px;
}
/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;



}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
  margin-left: 0px;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
top: 198px !important;
  width: 90% !important;

}
/* Individual item */
.bm-item {
  display: inline-block;

  color: #d1d1d1;
  margin-bottom: 10px;
  text-align: left;

}

.bm-item:hover {
  color: #ffffff;

}

#innerContainer {
  margin-top: 20px;

}

#card {
  background-color: white;
}

#Corgis {
  background-color: white;
  margin-left: 2px;
  margin-right: 2px;
}

#readyKit {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
}

.list-group-item.list-group-item {
  border: 0px;
}
